/* {
  outline: 1px solid limegreen !important;
}*/
* {
  margin: 0;
  padding: 0;
  /*scroll-behavior: smooth;*/
}

/** Estilos Generales **/
p {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
  padding: 30px;
  text-align: center;
  font-family: "Itim", cursive;
}

a {
  text-decoration: none;
  color: #0483ba;
}

ul,
li {
  list-style: none;
}

.button {
  width: 200px;
  height: 75px;
  border-radius: 55px;
  color: #fff;
  background: linear-gradient(90deg, #0483ba 0%, #00b2ff 100%);
}

h1 {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding: 30px;
  /*font-family: 'Itim', cursive;*/
}

h2 {
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
}

h3 {
  font-size: 20px;
}

/** Header **/

.header-landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0%;
  background: #f2f2f2;
  text-align: center;
}


.logo-header {
  max-width: 100px;
  height: 100%;
  width: 100%;
}

.icono-header {
  max-width: 90px;
  height: 90%;
  width: 90%;
}

#menu-principal {
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

li.menu-item {
  padding: 30px;
  font-size: larger;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.main {
  background-image: url("/utilities/img/landing.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(106, 141, 163, 0.7);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
}

.main__picture {
  max-width: 400px;
  margin-top: 250px;
}

.main__img {
  display: flex;
  width: 500px;
  padding: 20px;
  align-content: center;
}

/*Home Section **/

.home-section {
  display: flex;
}

.wrap-home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  color: #fff;
  padding: 15%;
}


/*Login Section*/

.login-section {
  display: flex;
}

.wrap-login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  color: #fff;
  padding: 15%;
}



/* CheckList Section */

.wrap-checkList-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.item-checkList-section {
  padding: 16px;
}

.item-checkList-section img {
  width: 300px;
  height: 225px;
}

/** Footer **/

.footer-section {
  /*max-width: 1200px;
  margin: 0 auto;
  background: #f2f2f2;
  padding: 20px;
  color: #0483ba;*/
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  padding: 10px;
  height: 90px;
  width: 100%;
  position: fixed;
  bottom: 0%;
  background: #f2f2f2;
  text-align: centar;
  font-size: large;
}

.icono-footer {
  max-width: 70px;
  height: 70%;
  width: 70%;
}

.footer-creds {
  display: flex;
  justify-content: center;
}



.send-email {
  display: flex;
  justify-content: center;
  font-weight: bold;
}